extends layout

block content
  input(type='search',
        id='searchBar',
        inputmode='search',
        autocomplete='on',
        autofocus,
        required,
        autosave,
        incremental,
        results='10'
      )
  .border
  

    script(src="/javascripts/index.js")
  