doctype html
html
  head
    title= title
    meta(name='theme-color', content='#303030')
    meta(name="msapplication-TileColor", content="#303030")
    meta(name="msapplication-navbutton-color", content="#303030")
    meta(name="apple-mobile-web-app-status-bar-style", content="#303030")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content